<%- include('partials/header'); -%>

<!-- <header>
    <div class="home">

      </div>
      <div class="headings text-center">
        <h1>Ruthless Blog</h1>
        <h3>THE Platform for all of your music and media news!</h3>
        
      </div>
</header> -->

<body>
   <div class="top">
       <h1>Artist Spotlights</h1>
       <p> Here are some up and coming artists that we recognized as the future of the music industry! Discover someone new! </p>
   </div> 

   <div class="blogs">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <a href="https://www.instagram.com/p/CRUSQJZDeWk/?igshid=YmMyMTA2M2Y=" class="btn">KayJay Koldhart</a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/p/CTkm40jrfZh/?igshid=YmMyMTA2M2Y=" class="btn">Young Q</a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/p/CJtg7BCjGI0/?igshid=YmMyMTA2M2Y=" class="btn">EA La Flaire</a>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <a href="https://www.instagram.com/p/CHdWEWyj2Rt/?igshid=YmMyMTA2M2Y=" class="btn">TF*ckingY</a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/p/CHOBwkTjkGb/?igshid=YmMyMTA2M2Y=" class="btn">Ammo</a>
          </div>
          <div class="col">
            <a href="/" class="btn">Blog Post</a>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <a href="/" class="btn">Blog Post</a>
          </div>
          <div class="col">
            <a href="/" class="btn">Blog Post</a>
          </div>
          <div class="col">
            <a href="/" class="btn">Blog Post</a>
          </div>
        </div>
      </div>
   </div>
   <div class="top">
    <h1 class="green">Album Reviews</h1>
    <p> Albums reviewed by the Ruthless Staff! Check out our picks and recommendations!</p>
</div> 

<div class="blogs">
 <div class="container text-center">
     <div class="row align-items-start">
       <div class="col">
         <a href="https://www.instagram.com/p/CVdX3OXLz31/?igshid=YmMyMTA2M2Y=" class="btn">Cevine x May The Odds Forever Be In Our Favor</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CY4fg2rLKO-/?igshid=YmMyMTA2M2Y=" class="btn">Brent Faiyaz x F*ck The World</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CUqDrx3LhZ9/?igshid=YmMyMTA2M2Y=" class="btn">NBA Youngboy x Sincerely, Kentrell</a>
       </div>
     </div>
     <div class="row align-items-center">
       <div class="col">
         <a href="https://www.instagram.com/p/CTxPkotrQuw/?igshid=YmMyMTA2M2Y=" class="btn">Willow Smith x Lately I Feel Everything</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CQrDC_bj-sM/?igshid=YmMyMTA2M2Y=" class="btn">Jay-Z x The Blueprint</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CQZJSrsj5vf/?igshid=YmMyMTA2M2Y=" class="btn">Lil Wayne x Tha Carter III</a>
       </div>
     </div>
     <div class="row align-items-end">
       <div class="col">
         <a href="https://www.instagram.com/p/CJoXQj4DNzo/?igshid=YmMyMTA2M2Y=" class="btn">Lil Baby x My Turn</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CHYWB9oj1XR/?igshid=YmMyMTA2M2Y=" class="btn">Outkast x Speakerboxxx/ The Love Below</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CHGJnU_D9lw/?igshid=YmMyMTA2M2Y=" class="btn">Kanye West x My Beautiful Dark Twisted Fantasy</a>
       </div>
     </div>
   </div>
</div>
<div class="top">
    <h1>News</h1>
    <p> Here are some news around the culture! </p>
</div> 

<div class="blogs">
 <div class="container text-center">
     <div class="row align-items-start">
       <div class="col">
         <a href="https://www.instagram.com/p/CaVFL-dOtjW/?igshid=YmMyMTA2M2Y=" class="btn">Donda 2 Show</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CH0xWSrDcjX/?igshid=YmMyMTA2M2Y=" class="btn">Gucci Mane vs Young Jeezy</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CVLae17LRqZ/?igshid=YmMyMTA2M2Y=" class="btn">Site Update</a>
       </div>
     </div>
     <div class="row align-items-center">
       <div class="col">
         <a href="https://www.instagram.com/p/CWY6TsrrTo9/?igshid=YmMyMTA2M2Y=" class="btn">RIP Young Dolph</a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/p/CUvT0mlrBDb/?igshid=YmMyMTA2M2Y=" class="btn">Fall '21</a>
       </div>
       <div class="col">
         <a href="/" class="btn">Blog Post</a>
       </div>
     </div>
     <div class="row align-items-end">
       <div class="col">
         <a href="/" class="btn">Blog Post</a>
       </div>
       <div class="col">
         <a href="/" class="btn">Blog Post</a>
       </div>
       <div class="col">
         <a href="/" class="btn">Blog Post</a>
       </div>
     </div>
   </div>
</div>
</body>


<%- include('partials/footer'); -%>