<%- include('partials/header'); -%>

<!-- <header>
    <div class="home">

      </div>
      <div class="headings text-center">
        <h1>Ruthless Blog</h1>
        <h3>THE Platform for all of your music and media news!</h3>
        
      </div>
</header> -->

<body>
   <div class="top">
       <h1>Artist Spotlights</h1>
       <p> Here are some up and coming artists that we recognized as the future of the music industry! Discover someone new! </p>
   </div> 

   <div class="blogs">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <img src="/rpod cover.pdf" alt="">
            <a href="https://www.instagram.com/p/CRUSQJZDeWk/?igshid=YmMyMTA2M2Y=" class="btn">KayJay Koldhart</a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/p/CTkm40jrfZh/?igshid=YmMyMTA2M2Y=" class="btn">Young Q</a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/p/CJtg7BCjGI0/?igshid=YmMyMTA2M2Y=" class="btn">EA La Flaire</a>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <a href="https://www.instagram.com/p/CHdWEWyj2Rt/?igshid=YmMyMTA2M2Y=" class="btn">TF*ckingY</a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/p/CHOBwkTjkGb/?igshid=YmMyMTA2M2Y=" class="btn">Ammo</a>
          </div>
          <div class="col">
            <a href="/" class="btn">Blog Post</a>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <a href="/" class="btn">Blog Post</a>
          </div>
          <div class="col">
            <a href="/" class="btn">Blog Post</a>
          </div>
          <div class="col">
            <a href="/" class="btn">Blog Post</a>
          </div>
        </div>
      </div>
   </div>
</body>


<%- include('partials/footer'); -%>