<%- include('partials/header'); -%>

<header>
  <div class="home">
    <!-- <img src="/rpod cover.pdf" alt=""> -->
  </div>
  <div class="headings">
    <h2>Categories</h2>
    <h3>Choose what you're looking for!</h3>
    <a href="/blogs" class="btn">View Artist Spotlights</a>
    <a href="/blogs2" class="btn">View Album Reviews</a>
    <a href="/news" class="btn">View News Around the Culture</a>

  </div>
</header>


<%- include('partials/footer'); -%>