<%- include('partials/header'); -%>

<header>
  <div class="home">
    <!-- <img src="/rpod cover.pdf" alt=""> -->
  </div>
  <div class="headings">
    <!-- <img src="../public/rpodCover.pdf" alt="Podcast Cover Art"> -->
    <h2>Ruthless Blog</h2>
    <h3>THE Platform for all of your music and media news!</h3>
    <a href="/filter" class="btn">View Categories</a>
    <a href="/allblogs" class="btn">View Blogs</a>

  </div>
</header>


<%- include('partials/footer'); -%>