<%- include('partials/header'); -%>

<body>
    <div class="top">
        <h1>News</h1>
        <p> Here are some news around the culture! </p>
    </div> 
 
    <div class="blogs">
     <div class="container text-center">
         <div class="row align-items-start">
           <div class="col">
             <a href="https://www.instagram.com/p/CaVFL-dOtjW/?igshid=YmMyMTA2M2Y=" class="btn">Donda 2 Show</a>
           </div>
           <div class="col">
             <a href="https://www.instagram.com/p/CH0xWSrDcjX/?igshid=YmMyMTA2M2Y=" class="btn">Gucci Mane vs Young Jeezy</a>
           </div>
           <div class="col">
             <a href="https://www.instagram.com/p/CVLae17LRqZ/?igshid=YmMyMTA2M2Y=" class="btn">Site Update</a>
           </div>
         </div>
         <div class="row align-items-center">
           <div class="col">
             <a href="https://www.instagram.com/p/CWY6TsrrTo9/?igshid=YmMyMTA2M2Y=" class="btn">RIP Young Dolph</a>
           </div>
           <div class="col">
             <a href="https://www.instagram.com/p/CUvT0mlrBDb/?igshid=YmMyMTA2M2Y=" class="btn">Fall '21</a>
           </div>
           <div class="col">
             <a href="https://www.instagram.com/p/CTNg23yrR1M/?igshid=YmMyMTA2M2Y=" class="btn">Donda Tee Giveaway</a>
           </div>
         </div>
         <div class="row align-items-end">
           <div class="col">
             <a href="/" class="btn">Blog Post</a>
           </div>
           <div class="col">
             <a href="/" class="btn">Blog Post</a>
           </div>
           <div class="col">
             <a href="/" class="btn">Blog Post</a>
           </div>
         </div>
       </div>
    </div>
 </body>


<%- include('partials/footer'); -%>